.whatisthepassword-container {
    width: 100%;
    min-height: 100vh;
    margin: 40px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
        .title {
            margin: 0 0 20px;
            color: #d97720;
            font-size: 54px;
            font-weight: bold;
        }

        .sub-title {
            color: #d97720;
            font-size: 32px;
            font-weight: bold;
        }
    }

    .whatisthepassword-box {
        width: 100%;
        max-width: 600px;
        padding: 0 10px;

        .result {
            margin: 0 0 20px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .game-status {
                font-size: 32px;
            }

            .runtime {
                margin: 8px 0;

                i {
                    color: #777;
                    width: 32px;
                }
            }

            .your-point {

                span {
                    color: #ffd700;
                    font-size: 32px;
                    font-weight: bold;
                    text-shadow: 1px 1px 2px #999;
                }
            }
        }

        form {
            width: 100%;
            margin: 0 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .form-password {
                flex: 1;

                input {
                    width: 100%;
                    outline: none;
                    padding: 6px 12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
            }

            input:focus {
                box-shadow: 0 0 0 0.25rem rgba(251, 139, 36, 0.25);
                border-color: #fdbc7f;
            }

            .btn {
                width: 120px;
                padding: 6px 12px;
                color: #fff;
                background-color: #fb8b24;
                border: 1px solid #fb8b24;
                border-radius: 4px;
                text-transform: uppercase;
                font-weight: bold;
                transition: all 0.2s ease;
            }

            .btn-reset {
                width: 80px;
                background-color: #fdbc7f;
            }

            .btn:active {
                background-color: #d97720;
            }
        }

        .error-message {
            color: #dc3545;
        }

        .content {
            display: flex;
            justify-content: center;

            table {
                width: 100%;
                border-collapse: collapse;

                thead {
                    tr {
                        th {
                            vertical-align: middle;
                            border-top: 2px solid #dee2e6;
                            border-bottom: 2px solid #dee2e6;
                            padding: 0.75rem;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            align-items: center;
                            vertical-align: middle;
                            border-bottom: 1px solid #dee2e6;
                            padding: 0.75rem;
                        }
                    }
                }
            }
        }

        .detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            form {
                width: 100%;
                margin: 20px 0 10px;
                display: flex;
                flex-direction: column;
                align-items: start;

                label {
                    margin: 0;
                    font-weight: bold;
                }

                .form-note {
                    width: 100%;
    
                    textarea {
                        width: 100%;
                        outline: none;
                        padding: 6px 12px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                    }
                }
            }

            .active-button {
                display: flex;
                justify-content: center;
                gap: 10px;

                .btn {
                    width: 160px;
                    padding: 6px 12px;
                    color: #fff;
                    background-color: #fb8b24;
                    border: 1px solid #fb8b24;
                    border-radius: 4px;
                    text-transform: uppercase;
                    font-weight: bold;
                    transition: all 0.2s ease;
                }

                .btn-giveup {
                    width: 120px;
                    background-color: #bb5e07;
                    border: 1px solid #bb5e07;
                }
            }
        }
    }
}