.p-dialog-content,
.p-card-body {
    .item {
        display: flex;
        background-color: #fff;
    }

    .address-item-container {
        justify-content: space-between;
        padding: 16px;
        border-radius: 4px;
        font-size: 14px;
        width: 100%;

        .address-item {
            flex-direction: column;
            color: #777;
            gap: 4px;
            width: 90%;
            word-wrap: break-word;

            .option-name-1 {
                margin: 0 0 6px;
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: 500;
                gap: 20px;

                .defaultaddress {
                    color: #28a745;
                    font-size: 12px;

                    i {
                        margin: 0 4px 0 0;
                    }
                }
            }

            span {
                color: #000;
                word-wrap: break-word;
            }

            .typeaddress {
                color: #000;

                i {
                    width: 20px;
                    ;
                }
            }
        }

        button {
            width: 100px;
            height: fit-content;
            padding: 6px 12px;
            color: #007bff;
            border: 1px solid #007bff;
            border-radius: 4px;
        }
    }

    .manage-btn {
        width: 200px;
        height: fit-content;
        padding: 6px 12px;
        color: #007bff;
        border: 1px solid #007bff;
        border-radius: 4px;
    }
}