.deleteaccount-container {
    width: 100%;
    max-width: 900px;

    .deleteaccount-content {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
        padding: 20px 20px 40px;

        form {
            width: 100%;
            max-width: 700px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .form-reason {
                margin: 0 0 4px;
                display: flex;
                flex-direction: column;
                gap: 4px;

                input,
                textarea {
                    outline: none;
                    width: 100%;
                    padding: 4px 12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

                input,
                textarea:focus {
                    border-color: #007bff80;
                    box-shadow: 0 0 0 0.25rem #007bff40;
                }
            }

            span {
                color: #dc3545;
            }

            .item {
                padding: 8px;
                border-radius: 4px;
                background: rgba(0, 96, 255, 0.05);
            }

            .form-check {
                input {
                    margin: 0 8px 0 0;
                }
            }

            .error-message {
                height: 24px;
                font-size: 14px;
                font-style: italic;
                color: #dc3545;
            }

            .success-message {
                height: 24px;
                font-size: 14px;
                font-style: italic;
                color: #28a745;
            }

            .btn {
                text-align: center;
                border: none;
                width: 100%;
                padding: 6px 12px;
                border-radius: 4px;
                color: #fff;
                background-color: #007bff;
            }

            .btn-div {
                cursor: default;
                background-color: #80bdff;
            }
        }
    }
}