.signinsignup-container {
    width: 100%;
    min-height: 100vh;
    margin: 40px 0;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;

    .card-box {
        position: relative;
        max-width: 800px;
        width: 95%;
        height: 600px;
        margin: 100px 0 180px;
        border-radius: 20px;
        box-shadow: 0 0 10px #00000050;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;

        .card-side {
            flex: 1;
            height: 600px;
            padding: 40px;

            h1 {
                margin: 0 0 24px;
                font-size: 32px;
                font-weight: bold;
                color: #0055b1;
            }

            form {
                position: relative;

                .form-input {
                    width: 100%;
                    margin: 16px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    i {
                        width: 40px;
                        font-size: 24px;
                        text-align: start;
                    }

                    .double-icon {
                        color: #999;
                        margin: 10px 0;
                        left: -8px;
                        position: absolute;
                        z-index: -1;
                    }

                    input {
                        flex: 1;
                        margin: 0;
                        padding: 8px 12px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        outline: none;
                    }

                    input:focus {
                        box-shadow: 0 0 0 0.25rem #007bff40;
                        border-color: #007bff80;
                    }
                }

                .accept-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 28px 0;

                    a {
                        padding: 0 5px;
                        border-radius: 5px;
                        color: #666666;
                        border: 1px solid #cccccc;
                        text-decoration: none;
                        cursor: pointer;
                    }

                    .form-check {
                        padding: 0;
                        display: flex;
                        justify-content: end;
                        align-items: center;


                        .checkbox-item {
                            display: flex;
                            align-items: center;
                        }

                        input {
                            border-color: #3396ff;
                            margin-right: 5px;
                            transform: scale(1.2);
                            cursor: pointer;
                        }

                        label {
                            user-select: none;
                            cursor: pointer;
                            color: #0055b1;
                            font-weight: bold;
                        }
                    }
                }

                .error-message {
                    color: #dc3545;
                }

                .success-message {
                    color: #28a745;
                }

                .forget-link {
                    width: fit-content;
                    font-weight: bold;
                    color: #3396ff;
                    display: flex;
                    justify-self: end;
                }

                .forget-link:hover {
                    color: #007bff;
                }
            }
        }

        .movingImage {
            width: 50%;
            height: 100%;
            background: url('./RightImage.png') center;
            object-fit: cover;
            object-position: center;
            position: absolute;
            right: 0;
            transition: all 0.5s ease;
        }

        .btn,
        .btn:focus {
            width: 100%;
            color: #fff;
            background-color: #0055b1;
            border: none;
            border-radius: 5px;
            font-weight: bold;
        }

        .form-box {

            .btn-box {
                margin: 20px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
            }

            .btn {
                padding: 6px 12px;
                outline: none;
            }

            .btn-submit {
                flex: 2;
                background-color: #007bff;
            }

            .btn-reset {
                flex: 1;
                background-color: #a2cfff;
            }

            .btn:hover {
                background-color: #0055b1;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .movingImage {
            display: none;
        }

        .card-disappear {
            display: none;
        }
    }
}