.signinsignup-container {
    width: 100%;
    min-height: 80vh;
    margin: 80px 0;
    text-align: center;

    .card-box {
        position: relative;
        max-width: 800px;
        width: 95%;
        height: 600px;
        margin: 0 0 180px;
        border-radius: 20px;
        box-shadow: 0 0 10px #00000050;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;

        .card-side {
            flex: 1;
            height: 600px;
            padding: 28px 40px;

            h1 {
                margin: 0 0 20px;
                font-size: 32px;
                font-weight: 600;
                color: #3396ff;
            }

            h2 {
                margin: 0 0 16px;
                font-size: 20px;
                
                color: black;
            }

            hr {
                margin: 40px 0;
            }

            form {
                position: relative;

                .form-input {
                    width: 100%;
                    margin: 12px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    i {
                        width: 40px;
                        font-size: 24px;
                        text-align: start;
                    }

                    .double-icon {
                        color: #999;
                        margin: 10px 0;
                        left: -8px;
                        position: absolute;
                        z-index: -1;
                    }

                    input {
                        flex: 1;
                        margin: 0;
                        padding: 8px 12px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        outline: none;
                    }

                    input:focus {
                        box-shadow: 0 0 0 0.25rem #007bff40;
                        border-color: #007bff80;
                    }
                }

                .accept-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 20px 0;

                    a {
                        padding: 4px 8px;
                        border-radius: 5px;
                        color: #666666;
                        border: 1px solid #cccccc;
                        text-decoration: none;
                        cursor: pointer;
                    }

                    .form-check {

                        label {
                            user-select: none;
                            cursor: pointer;
                            color: #0055aa;
                            display: flex;
                            align-items: center;

                            input {
                                border-color: #3396ff;
                                margin-right: 5px;
                                transform: scale(1.2);
                                cursor: pointer;
                            }
                        }
                    }
                }

                .error-message {
                    color: #dc3545;
                    font-style: italic;
                    margin: 16px 0;
                }

                .success-message {
                    color: #28a745;
                    font-style: italic;
                    margin: 16px 0;
                }

                .forget-link {
                    width: fit-content;
                    color: #3396ff;
                    display: flex;
                    justify-self: end;
                }

                .forget-link:hover {
                    color: #007bff;
                }
            }
        }

        .movingImage {
            width: 50%;
            height: 100%;
            background: url('./RightImage.png') center;
            object-fit: cover;
            object-position: center;
            position: absolute;
            right: 0;
            transition: all 0.5s ease;
        }

        .btn-box {
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }

        .btn,
        .btn:focus {
            width: 100%;
            height: 40px;
            padding: 6px 12px;
            color: #fff;
            background-color: #0055aa;
            border-radius: 5px;
            outline: none;
            transition: all 0.2s ease;
        }

        .btn:hover {
            color: #fff;
            background-color: #0055aa;
        }

        .btn-submit {
            flex: 2;
            background-color: #007bff;
        }

            .btn-submit {
                flex: 2;
                background-color: #3396ff;
            }


        .btn-switch {
            flex: 1;
            color: #0055aa;
            background-color: transparent;
            border: 2px solid #0055aa;
        }
    }

    @media screen and (max-width: 768px) {
        .movingImage {
            display: none;
        }

        .card-disappear {
            display: none;
        }
    }
}
